In [10]:
import pandas as pd
import seaborn as sns

In [22]:
dados = sns.load_dataset('tips')
#print(dados.head(10))
dados.head()#O mais adequado para uma analise exploratória rápida.

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [42]:
dados["time"]

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [44]:
dados[dados["time"] == 'Lunch']

     total_bill   tip     sex smoker   day   time  size
77        27.20  4.00    Male     No  Thur  Lunch     4
78        22.76  3.00    Male     No  Thur  Lunch     2
79        17.29  2.71    Male     No  Thur  Lunch     2
80        19.44  3.00    Male    Yes  Thur  Lunch     2
81        16.66  3.40    Male     No  Thur  Lunch     2
..          ...   ...     ...    ...   ...    ...   ...
222        8.58  1.92    Male    Yes   Fri  Lunch     1
223       15.98  3.00  Female     No   Fri  Lunch     3
224       13.42  1.58    Male    Yes   Fri  Lunch     2
225       16.27  2.50  Female    Yes   Fri  Lunch     2
226       10.09  2.00  Female    Yes   Fri  Lunch     2

[68 rows x 7 columns]

In [58]:
#dados[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No")] = "Gay"
# Atualizando apenas a coluna 'sex' para "Gay" nos registros com 'Lunch', 'Male', e 'No'
dados.loc[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No"), 'sex'] = "Gay"

TypeError: Cannot setitem on a Categorical with a new category (Gay), set the categories first

In [56]:
# Atualizando os valores na coluna 'sex' apenas para aqueles que pediram 'Lunch'
#dados.loc[(dados['time'] == 'Lunch'), 'sex'] = dados.loc[(dados['time'] == 'Lunch'), 'sex'].replace('Male', 'Gay')